<%= form_tag(posts_url, method: :post, class: 'create-post') do %>
  <textarea name="contents"></textarea>
  <div class="button-container"><button>Post</button></div>
<% end %>

<% @posts.each do |post| %>
  <div class="post-container">
    <p> 
        <% user = User.find_by_id(post.user_id) %>
        <%= user[:name] %> 
    </p>
    </br>
    <%= post.contents %>
    </br>
    <p> <%= post.created_at.strftime("%d %B %Y, %H:%M") %> </p>
    <% if post.user_id == current_user[:id] %>
      <%= form_tag(posts_url, method: :delete, class: 'create-post') do %>
        <%= button_tag "Delete", name: "post_id", value: post.id %>
      <% end %>
    <% end %>
  </div>
<% end %>