<div class="col-md-3">
  <ul class="col-md-12 panel panel-body">
    <% @friends_list.each do |friend| %>
      <li class="col-md-12">
        <h5> <%= friend.name %> </h5> 
      </li>
    <%end%>

    <% @users_list.each do |user| %>
      <li class="col-md-12">
        <h5> <%= user.name %> </h5>
        <%= form_tag(friendships_url, method: :post) do %>
          <input type="hidden" name="friend_b" value="<%= user.id %>"/>                                
          <button type="submit" class="btn btn-info btn-xs col-md-6">Add as friend</button>
        <% end %>
      </li>
    <%end%>
  </ul>
</div>
<div class="col-md-6 col-md-offset-1">
  <div class="panel panel-success">
    <%= form_tag(posts_url, method: :post, class: 'create-post') do %>
      <textarea name="contents" placeholder="What's on your mind?"></textarea>
      <div class="button-container">
        <button>Post</button>
      </div>
    <% end %>
  </div>
  <% @posts.each do |post| %>
    <div class="posts panel panel-success">
      <div class="panel-heading">
        <div class="profile">
          <div class="image">
            <span class="badge"> <h3> <%= post[:user][0].upcase%> </h3> </span>
          </div>
          <div class="date_name">
            <h4> <%= post[:user] %> </h4>
            <h6> <%= post[:created_at].strftime("%d %B %Y, %H:%M") %> </h6>
          </div>
        </div>

        <div> <h2> <%= post[:content] %> </h2> </div>
        <%# if post[:user_id] == current_user.id %>
          <%#= form_tag(posts_url, method: :delete, class: 'create-post') do %>
            <%#= button_tag "Delete", name: "post_id", value: post[:id], class: 'btn-danger' %>
          <%# end %>
        <%# end %>
      </div>
      <%# 
        comments = Comment.all
        comments = comments.select { |comment| post.id == comment.post_id}
      %>
      <% post[:comments].each do |comment|%>
        <div class="comment">
          <span class="badge"> <%= comment[:name][0].upcase%> </span>
          <h6>
            <%= comment[:contents]%>
          </h6>
          <small> <%= comment[:created_at].strftime("%d %B %Y, %H:%M") %> </small>
        </div>
      <% end %>
      <%# <div class="panel-body">
        <% if post[:comments] %>
        <%# $stderr.puts (comments.inspect) %>
        <%# comments.each do |comment| %>
          <%# <div class="">  %>
            <%# <p> <%= comment.contents %> 
            <%# </p> %>
            <%# <p> = comment.created_at.strftime("%d %B %Y, %H:%M") </p> %>
          <%# </div> %>
        <%# end %>
      <%# end %>
      <%# </div> %>
      <div class="panel-footer">
        <%= form_tag(comments_url, method: :post) do %>
          <%=  hidden_field_tag 'post_id', value: post[:id] %>
          <%=  hidden_field_tag 'user_id', value: current_user[:id] %>
          <div class="input-group">
            <textarea name="contents" placeholder="Write a comment.." class="form-control" area-describedby="sizing-addon1"></textarea>
            <span class="input-group-addon" id="sizing-addon1">
              <button class="btn btn-sm">Submit</button>
            </span>
          </div>
        <% end %>
      </div>
    <%# </div> %>
    </div>
  <% end %>
</div>